#CocoaPods
Pods

# xcode noise
build/*
*.pbxuser
*.mode1v3
*~

# old skool
.svn

# osx noise
.DS_Store
profile

*.xcuserstate

scaffold/src/3004iPhone.xcodeproj/xcuserdata
scaffold/src/3004iPhone.xcodeproj/xcuserdata
